
  
h1{
    display: flex; 
    justify-content: flex-start;
    color:seagreen;
    float: right;
    position: relative;
    top: -50%;
}

h3{
    display: flex; 
    justify-content: space-evenly;
    color:seagreen;
    float: right;
    position: relative;
    top: -30%;
    width: -9vw;
}

#box1  {
    height: 200px;
    width: 550px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid beige;
    background-color: azure;
}

#name{
    display: flex;
    flex-direction: column;
}
#box2 {
    display: flex; 
    justify-content: flex-start;
    float: right;
    position: relative;
    top: -28vh;
    border: 2px solid beige;
    background-color: azure;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 200px; 

}

#box3 {
    display: flex; 
    justify-content:space-around;
    position: relative;
    top: -50%;
    border: 2px solid beige;
    background-color: azure;
    width: 94vw;
    top: -15vh;
}

#box4 {
    display: flex; 
    justify-content: flex-start;
    float: right;
    position: relative;
    top: -45vh;
    height: 600px;
    width: 75px;
    display: flex;
    flex-flow: nowrap;
    border: 2px solid beige;
    background-color: azure;
}

#picture {
    display: flex;
    width: 100px;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    object-fit: contain;
    
}

.rightsidebar {
    display: grid;
    float: right;
    flex-wrap: wrap;

}

.rightsidebar label {
    display: inline;
}


.p :only-child {
    flex-wrap: wrap;
}

#picture {
    position:relative;
}

#section2 {
    background-color:gray;
}
